{% extends "shopapp/base.html" %}

{% block title %}
    Confirm archive {{ product.name }}
{% endblock %}


{% block body %}
    <h1>Are you sure you want to archive {{ product.name }}?</h1>
    <br>
    <div>
        <a href="{% url 'shopapp:product_details' pk=product.pk %}">Back to product</a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Archive</button>
        </form>
    </div>
{% endblock %}