{% extends 'shopapp/base.html' %}

{% block title %}
   Users list
{% endblock %}

{% block body %}
    <h1>Users:</h1>
    {% if user %}
     <div>
     {% for user in users %}
         <div>
             <p><a href="{% url 'myauth:user-details' pk=user.pk %}">
             Name: {{ user.username }}</a></p>
             {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="{{ user.avatar.name }}">
             {% endif %}
         </div>
     {% endfor %}

     </div>

    {% else %}
    <h3>No users yet</h3>
    {% endif %}
    <div>
        <a href="{% url 'myauth:register' %}"
        >Create a new user</a>
    </div>

{% endblock %}